.navbar {
  background-color: #008dda;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 25px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  /* color: #008dda; */
}

.nav-menu {
  background-color: #008dda;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f7eedd;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #41c9e2;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #008dda;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.menuBars {
  color: #008dda;
}

.job-section-nav {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  letter-spacing: -1px;
  font-size: 20px;
  color: #f7eedd;
}

.middle-part-nav {
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  letter-spacing: -1px;
  font-size: 20px;
  color: #f7eedd;
}

.main-name-nav {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 20px;
  color: #f7eedd;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Mobile view */
  .navbar {
    justify-content: space-between; /* Space out the navbar content */
    padding: 0 10px;
  }

  .menu-bars {
    display: block; /* Display menu bars on mobile */
    margin: 0;
  }

  .nav-menu {
    width: 80%; /* Adjust the width of the nav menu */
  }

  .nav-text a {
    padding: 10px 16px; /* Adjust padding */
  }
}

@media (max-width: 480px) {
  /* Mobile view */
  .navbar {
    padding: 0 5px;
  }

  .nav-menu {
    width: 70%; /* Further adjust the width of the nav menu */
  }

  .nav-text a {
    font-size: 16px; /* Reduce font size */
    padding: 8px 10px; /* Adjust padding */
  }
}
