.Projects {
  background-color: #f7eedd;
  padding: 30px;
}

.title-font {
  color: #008dda;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 30px;
}

.project-section {
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #41c9e2;
  flex-wrap: wrap;
}

.project-image {
  flex: 1;
  max-width: 320px;
  display: flex;
  justify-content: center;
}

.project-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-details {
  flex: 3;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-name {
  color: #41c9e2;
  font-weight: bold;
  font-size: 1.2em;
}

.project-link {
  list-style: none;
  display: flex;
  align-items: center;
}

.project-link svg {
  width: 24px;
  height: 24px;
}

.project-link a {
  text-decoration: none;
  padding-left: 2px;
  color: #008dda;
}

.project-list {
  padding-top: 6px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjustments for tablets */
  .project-section {
    flex-direction: column;
  }

  .project-image {
    max-width: 100%;
  }

  .project-details {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  /* Adjustments for mobile */
  .title-font {
    font-size: 1.5em;
    padding: 20px;
  }

  .project-section {
    flex-direction: column;
    padding: 10px;
  }

  .project-details {
    padding-left: 0;
  }

  .project-name {
    font-size: 1em;
  }
}
